.news-section {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 5px;
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr;
}
.news-content {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.news-title {
  font-size: 80px;
  margin-bottom: var(--spacing-lg);
}

.news-text {
  margin-bottom: var(--spacing-xl);
  font-size: 1.1rem;
  line-height: 1.6;
}

.news-btn {
  background-color: whitesmoke;
  color: black;
  padding: 7px 35px;
  font-size: 25px;
}

/* .news-btn:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
} */

.news-image {
  width: 100%;
  padding-right: 20px;
}

.news-image img {
  width: 50%;
  height: auto;
  display: inline-block;
  transition: transform 0.5s ease;
}

.news-image:hover img {
  transform: scale(1.03);
}

@media (min-width: 768px) {
  .news-grid {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
